.App {
  text-align: center;
  background-color: #EAEEF2;
  min-height: 100vh;
}

.barcodeHeader {
  text-align: left;
}

.logoBackground {
  background-color: #07003d;
}

.InputContainer {
  display: flex;
  justify-content: center;
  min-height: 10em;
}

.bg-kiwi-green {
  background-color: #00B482;
}

.barcodeSpan {
  padding: 0.1em;
}

#divToPrint {
  display: block;

}